*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --shade: #dedede;
  /* --shade: #231b1b; */
  --tint: #0a0b0a;
  --font: "Dank Mono";
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--font), monospace;
  background-color: var(--shade);
  color: var(--tint);
  font-weight: lighter;

  border: 10px solid #33333312;

  /* layouts */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.heading {
  font-size: 3rem;
}

.aside {
  display: flex;
  gap: 0.5rem;
}

[data-input-string] {
  font-size: 2rem;
  border: none;
  padding: 1rem;
  font-family: inherit;
  color: var(--tint);

  /* neumorphic */
  border-radius: 50px;
  background: #dedede;
  box-shadow: -20px -20px 52px #bdbdbd, 20px 20px 52px #ffffff;
}

[data-btn-copy] {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  border: 1px solid var(--font);
  border-radius: 100%;
  font-size: 3rem;

  /* neumorphic */
  border-radius: 50px;
  background: linear-gradient(225deg, #eeeeee, #c8c8c8);
  box-shadow: -20px 20px 52px #bdbdbd, 20px -20px 52px #ffffff;

  /* centering */
  display: grid;
  place-items: center;
  font-size: 3rem;
}

.chip {
  visibility: hidden;
  color: red;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    visibility: visible;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-5px);
    visibility: hidden;
  }
}
