*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --shade: #0a0b0a;
  /* --shade: #231b1b; */
  --tint: #bbbbaf;
  --font: "Dank Mono";
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--font), monospace;
  background-color: var(--shade);
  color: var(--tint);
  font-weight: lighter;

  /* layouts */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.heading {
  font-size: 3rem;
}

.aside {
  display: flex;

  gap: 1rem;
}

[data-input-string] {
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  font-family: inherit;
  color: var(--shade);
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset -20px -20px 60px #bebebe, inset 20px 20px 60px #ffffff;
}

[data-btn-copy] {
  width: 3rem;
  font-size: 3rem;
  aspect-ratio: 1/1;
}
